html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left top, from(#A7FFEB), to(#FFCDD2));
  background: linear-gradient(to left, #A7FFEB, #FFCDD2);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: sans-serif;
  padding: 0 30%;
}

.name__input {
  height: 40px;
  width: 100%;
  border-radius: 7px;
  border: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  border: 1px solid #999;
}

.name__input:focus {
  outline: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 10;
}

.name__result {
  margin: 5px;
  padding: 10px 30px;
  font-size: 30px;
  position: absolute;
  -webkit-transform: rotateZ(-2deg);
          transform: rotateZ(-2deg);
  top: 50%;
  margin-top: -80px;
  background-color: black;
  color: white;
  mix-blend-mode: multiply;
}

@media (max-width: 768px) {
  .name {
    padding: 0 10%;
  }
}

@media (max-width: 320px) {
  .name__result {
    margin-top: -120px;
  }
}
